@font-face {
    src: url(../fonts/IRANSANSWEB.TTF);
    font-family: IRANSANS;
    font-weight: normal;
}

@font-face {
    src: url(../fonts/IRANSANSWEB_BOLD.TTF);
    font-family: IRANSANSBOLD;
    font-weight: bold;
}

@font-face {
    src: url(../fonts/IRANSANSWEB_LIGHT.TTF);
    font-family: IRANSANSLIGHT;
    font-weight: lighter;
}

body {
    background-color: #353b48;
    margin: 0;
    padding: 0;
    transition: all 0.3ms;
    scroll-behavior: smooth;
}

header {
    margin: 20px 0;
}

a:hover {
    opacity: 0.8;
}

.right {
    display: inline;
}
header .right ul {
    display: inline;
}
header .right ul li {
    float: right;
    list-style-type: none;
}

header .right ul li a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-family: IRANSANS;
}

.left {
    float: left;
}

.left ul li {
    list-style-type: none;
}

.left ul li{
    float: left;
}

.left ul li a {
    text-decoration: none;
    margin: 0 17px;
    font-family: IRANSANS;
}

.left ul {
    display: inline;
}

.container img {
    width: 420px;
    height: 420px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.container h5 {
    color: white;
    font-family: IRANSANS;
    text-align: center;
    margin-top: -70px;
    font-size: 17px;
    margin-bottom: 250px;
}


.wh-bg {
    background-color: white;
    width: 75%;
    height: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 2;
    
}


.circle-img img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    z-index: 3;
    border: 3px solid white;
    border-radius: 223px;
    margin-bottom: -95px;
}
.wh-bg h2 {
    font-family: IRANSANS;
    text-align: center;

}

.hamburger {
    display: none;
}


.wh-bg h2:first-child {
    padding-top: 95px;
}

.wh-bg h4 {
    text-align: center;
    font-family: IRANSANS;
    font-size: 16px;
    padding: 0 auto;

}

.vertical-menu {
    margin-top: 80px;
}

hr {
    width: 75%;
    margin-top: 45px;
}

.wh-bg h1 {
    text-align: center;
    font-size: 55px;
}

.txt-h4 {
    margin-top: -13px !important;
    font-size: 12px !important;
}

.txt-h2 {
    margin-top: -20px;
}

.best {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
    padding: 0 auto;
    margin-bottom: 35px;
}

.best ul {
    list-style-type: none;
    text-align: center;
    padding: 0 100px;
}

.best ul li {
    font-family: IRANSANS;

}

.best ul li:first-child {
    font-family: IRANSANSBOLD !important;
    margin-bottom: 15px;
}

.txt2-h2 {
    margin-top: 25px;
}

.bl-bg {
    background-color: #353b48;
    width: 100%;
    height: 505px;
    z-index: -1;
    margin-top: -297px;
    position: absolute;
}

.icons {
    padding-top: 90px;
     display: flex;
     justify-content: center;
}

.icons a {
    padding: 0 10px;
    scroll-behavior: smooth;
}

footer p {
    color: white;
    font-family: IRANSANS;
    text-align: center;
}

footer .p2 {
    font-family: IRANSANS;
    font-size: 9px;
    margin-top: -15px;
}

#info {
    scroll-behavior: smooth;
}

@media (max-width: 1020px) {
    body {
        width: auto;
    }

    .hamburger {
        background:none;
        position:absolute;
        top:0;
        right:0;
        line-height:45px;
        padding:40px 120px 0px 15px;
        color:white;
        border:0;
        font-size:2em;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
        display: block;
}

.cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:40px 120px 0px 15px;
    color:white;
    border:0;
    font-size:4em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    display: block;
  }

    .vertical-menu {
        width: auto; /* Set a width if you like */
        padding: 0;
        margin: 0;
    }
    
    .left , .right {
        display: none;
    }

    .vertical-menu {
        margin-top: 65px;
    }
    .vertical-menu a {
        background-color: #c79c02; /* Grey background color */
        margin: -1px 0;
        text-align: center;
        font-family: IRANSANS;
        color: white; /* Black text color */
        display: block; /* Make the links appear below each other */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove underline from links */
    }

    .best {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media (max-width: 767px) {
    body {
        width: auto;
    }

    .menu {
        margin: 85px 0 0 0;
    }

    .hamburger {
        background:none;
        position:absolute;
        top:0;
        right:0;
        line-height:45px;
        padding:40px 40px 0px 15px;
        color:white;
        border:0;
        font-size:2em;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
        display: block;
}

.cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:40px 40px 0px 15px;
    color:white;
    border:0;
    font-size:4em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    display: block;
  }

    .menu ul li {
        background: #c79c02;
        border: 1px solid white;
        border-radius: 5px;
    }
     
    .right {
        display: none;
    }

    .vertical-menu {
        width: auto; /* Set a width if you like */
        padding: 0;
        margin: 0;
    }
    
    .vertical-menu a {
        background-color: #c79c02; /* Grey background color */
        margin: -1px 0;
        text-align: center;
        font-family: IRANSANS;
        color: white; /* Black text color */
        display: block; /* Make the links appear below each other */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove underline from links */
    }

    .left {
        display: none;
    }

    .container img {
        width: 300px;
        height: 300px;
    }

    .circle-img img {
        width: 150px;
        height: 150px;
    }

    .container h5 {
        margin-top: -35px;
        font-size: 15px;
        padding: 0 5px;
    }

    .wh-bg {
        height: 1500px;
    }

    .wh-bg h2 {
        font-size: 18px;
    }

    .wh-bg h4 {
        font-size: 14px;
        padding: 0 7px;
    }

    .icons {
        padding-top: 56px;
    }

    .best {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}